@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="counter-container">
    <h3>Počítadlo znakov</h3>
    <textarea id="textInput" oninput="countChars()"></textarea>
    <p id="charCount">Minimálne 20 znakov, aktuálny počet znakov: 0</p>
</div>

<br>


<h3>Informácie o osobe</h3>

<p id="output">Klikni na tlačidlo pre zobrazenie mena a veku.</p>
<button onclick="showPerson()">Zobraziť</button>

