@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Informácie o osobe</h3>

<p id="output">Klikni na tlačidlo pre zobrazenie mena a veku.</p>
<button onclick="showPerson()">Zobraziť</button>

<br>
<br>


<h3>Zoznam produktov</h3>

<p id="output1">Klikni na tlačidlo pre zobrazenie prvého produktu.</p>
<button onclick="showFirstProduct()">Zobraziť prvý produkt</button>

<br>
<br>

<h3>Obľúbené filmy</h3>

<div id="output2">Klikni na tlačidlo pre zobrazenie filmov.</div>
<button onclick="showMovies()">Zobraziť filmy</button>

<br />
<br />
<h3>Zoznam študentov</h3>

<div id="output3">Klikni na tlačidlo pre zobrazenie študentov.</div>
<button onclick="showStudents()">Zobraziť študentov</button>


<br />
<br />

<h3>Zoznam programátorov</h3>

<div id="output4">Klikni na tlačidlo pre zobrazenie programátorov.</div>
<button onclick="showProgrammers()">Zobraziť programátorov</button>


<br />
<br />


<h3>Zoznam kníh</h3>

<div id="table-container"></div>
<button onclick="createTable()">Zobraziť tabuľku</button>




